<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Tiffani Duong | Full Stack Developer </title>
  </head>
  <body>
    <header id="main-navigation">
      <a href="#" class="name"> Tiffani Duong </a>
      <nav>
        <a href="#">Blog</a>
        <a href="#">Projects</a>
        <a href="#">Contact Me</a>
      </nav>
    </header>

  </body>
</html>
